<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
   		<meta name="theme-color" content="#000000" />

  <title>Scufflio</title> 
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <script src=
           "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    	</script>
</head>

<body>

  <script>
    function creategame(){


    }

    function joingame(){
      
    }


  </script>

    <p style="font-size: 500%;color:#854040  ; text-align: center">Scufflio</p>

    <label style="font-size: 200%"  ; text-align: center>Enter name:</label>
    <input  type="text" id="fname" name="fname"><br><br>

  <button type="button" class="btn btn-primary" id="0" onclick="joingame()">Join game</button>
  <button type="button" class="btn btn-primary" id="0" onclick="creategame()">Create game</button>

  <script src="js/scripts.js"></script>
</body>
</html>