<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
   		<meta name="theme-color" content="#000000" />

  <title>Scufflio</title> 
  <link rel="stylesheet" href="css/styles.css?v=1.0">
  <script src=
           "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    	</script>
</head>

<body>
    <button onclick="location.href='/benupp'" id="checkUsername">Create game</button>
  <script>
    function benupp() {
      console.log("HERE")

        var gues = document.getElementById("boxers").value;
        req = $.ajax({
                data : JSON.stringify({"word":gues
                }),
                url: "/start_game",
                type: "POST",
                contentType: "application/json",
                async: false
            }
        );
    }

    function joingame(){

    }

    $("#checkUsername").on("click", function() {
      console.log("HERE")
            benupp();
        });

  </script>

    <p style="font-size: 500%;color:#854040  ; text-align: center">Scufflio</p>

    <form  action="#" method="POST; GET" >
      <INPUT TYPE="hidden" NAME="redirect" VALUE="scib.html">
      <label style="font-size: 200%"  ; text-align: center>Enter name:</label>
      <input id="boxers" type="text"  name="fname">
   </form>

  <button type="button" class="btn btn-primary" id="0" onclick="joingame()">Join game</button>


  <script src="js/scripts.js"></script>
</body>
</html>