<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
   		<meta name="theme-color" content="#000000" />
		<title>scribbler</title>
		<meta name="author" content="banu" />


		<script src=
           "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    	</script>

	</head>
	<body>

		<script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 2;

    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;

        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }

    function color(obj) {
        switch (obj.id) {
            case "green":
                x = "green";
                break;
            case "blue":
                x = "blue";
                break;
            case "red":
                x = "red";
                break;
            case "yellow":
                x = "yellow";
                break;
            case "orange":
                x = "orange";
                break;
            case "black":
                x = "black";
                break;
            case "white":
                x = "white";
                break;
        }
        if (x == "white") y = 14;
        else y = 2;

    }
    var timer = setInterval( draw, 10);
    function draw() {

        req = $.ajax({
	            data : JSON.stringify({"currX" : currX,
	            "currY" : currY,
	            "color" : x
	            }),

	            url: "/scrib",
	            type: "GET",
	            contentType: "application/json",
	            async: false
	        }
        );


        var parsed = JSON.parse(req.responseText);
            console.log(parsed)
        x = parsed.color;

        prevX = parsed.currX[parsed.currX.length-2];
        prevY = parsed.currY[parsed.currY.length-2];

        currX = parsed.currX[parsed.currX.length-1];
        currY = parsed.currY[parsed.currY.length-1];

        if (Math.abs(currX - prevX) >3 && Math.abs(currY - prevY)>3) {
            prevX = currX;
            prevY = currY;
        }



        console.log(currX,currY)
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();





    }

    function erase() {
        var m = confirm("Want to clear");
        if (m) {
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasimg").style.display = "none";
        }
    }






    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;

            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
    </script>
    <body onload="init()">
        <canvas id="can" width="1000" height="700" style="position:absolute;top:25%;left:22%;border:2px solid;"></canvas>
        

        <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
       





	{% block content %}
    {% endblock %}


	</body>
</html>
